@view('header', [ 'title' => '404 Not Found' ])

<div class="app">
    <div class="header">
        <p class="header-name"><a href="/">{{ APP_NAME }}</a></p>
        <p class="header-version">v{{ APP_VERSION }}</p>
    </div>
    <div class="columns">
        <div class="column-left">
            <div class="logo"></div>
        </div>
        <div class="column-right">
            <div class="box">
                <h1>404 Not Found</h1>
                <p>The requested URL <code class="break-all">{{ $_SERVER['REQUEST_URI'] }}</code> is not found on this server.</p>
                <p>If you entered the URL manually please check your spelling and try again.</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Made by <a href="https://bastiaan.ml/" target="_blank" rel="noreferrer">Bastiaan van der Plaat</a></p>
    </div>
</div>

@view('footer')
