@view('header', [ 'title' => 'Offline' ])

<div class="app">
    <div class="header">
        <p class="header-name"><a href="/">{{ APP_NAME }}</a></p>
        <p class="header-version">v{{ APP_VERSION }}</p>
    </div>
    <div class="columns">
        <div class="column-left">
            <a id="logo" class="logo" href="#">
                <div class="click-me">Click me!</div>
            </a>
        </div>
        <div class="column-right">
            <div class="box">
                <h1>Offline</h1>
                <p>You are offline, to use this site you must connect to the internet again.</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>
            Made by <a href="https://bastiaan.ml/" target="_blank" rel="noreferrer">Bastiaan van der Plaat</a> |
            <a href="https://github.com/bplaat/gosbank" target="_blank" rel="noreferrer">Source Code</a>
        </p>
    </div>
</div>

@view('footer')
